<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addressBook" class="com.spring.app.AddressBook">
        <constructor-arg>
            <bean class="com.spring.app.Address"/>
        </constructor-arg>
    </bean>

</beans>