<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="addrObj" class="com.spring.app.Address" scope="prototype"/>

	<bean id="custObj" class="com.spring.app.Customer" scope="prototype">
		<property name="address" ref="addrObj" />
	</bean>

</beans>